@media print {
    .large-1 {
        width: 8.33333%;
    }
    .large-2 {
        width: 16.66667%;
    }
    .large-3 {
        width: 25%;
    }
    .large-4 {
        width: 33.33333%;
        position: relative;
    }
    .large-5 {
        width: 41.66667%;
    }
    .large-6 {
        width: 50%;
    }
    .large-7 {
        width: 58.33333%;
    }
    .large-8 {
        width: 66.66667%;
    }
    .large-9 {
        width: 75%;
    }
    .large-10 {
        width: 83.33333%;
    }
    .large-11 {
        width: 91.66667%;
    }
    .large-12 {
        width: 100%;
    }
    #header {
        padding-top: 0;
    }
    .recognitions .position {
        width: auto;
        top: 6rem
    }
    .interests .large-3 {
        margin-right: 2rem;
        width: 24%;
    }
    .int_icon {
        width: 7rem;
        height: 7rem;
    }
    .int_icon i:before {
        font-size: 2rem;
    }
    .specialities .large-4 {
        margin-right: 3rem;
    }
    .skill [class*="block-grid-"] {
        margin: 0 -0.08rem;
    }
    .skill [class*="block-grid-"]>li {
        padding: 0 0.08rem 0;
    }
    .experience .large-6 {
        width: 80%;
    }
    .avoid_pagebreak {
        page-break-inside: avoid;
    }
}