<div class="row footer">
   <div class="large-12 small-12 medium-12 text-center ">
    <div class="border text-center "></div>
    <p class="copyright">
        <a href="{{ header.blog_url }}">我的博客</a> & 
        灵感来自<a href="https://www.behance.net/gallery/15677411/FREE-Resume-Template">Fernando Báez</a>的设计 & 
        <a href="https://github.com/izuolan/zresume">Zresume</a></p>
   </div>
</div>