{% extends 'partials/base.html.twig' %}
{% block content %}
  <article class="post-2 page type-page status-publish hentry">
    <header class="entry-header">
      <h1>{{ page.header.title }}</h1>
    </header>
    <div class="entry-content">
     {{ page.content }}
   </div>
 </article>
{% endblock %}